<div class="container app-intro">
    <a href="/">&#x3c;&#x3c;back</a>
</div>

<div class="container app-main">

<div class="panel panel-default">
    {{#if person.avatar}}
        <img src="{{person.avatar}}" alt="{{person.first_name}} - {{person.last_name}}" width="100" height="100">
        {{else}}
        &nbsp;
        {{/if}}
    <div class="panel-body">
      <label>First Name: </label>{{person.first_name}}<br/>
      <label>Last Name: </label>{{person.last_name}}<br/>
      <label>Email: </label>{{person.email}}<br/>
      <label>Job Title: </label>{{person.job_title}}<br/><br/>
      <label>Comments:</label><br/>
      {{#each comments}}
        {{comment}}
        <hr/>
      {{/each}}
    </div>
  </div>
</div>

</div>
