<!-- Button trigger modal -->

<div class="container app-intro">
  <h1 class="text-center">List of People</h1>
</div>

<div class="container app-main">
<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal"> <!--Open create modal-->
Create Person
</button>
<table class="table table-hover"> <!--Output peoples-->
  <thead>
    <tr> 
      <th scope="col">&nbsp;</th> <!--Avatars-->
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Job Title</th>
      <th scope="col">&nbsp;</th> <!--Action Buttons-->
    </tr>
  </thead>
  <tbody>
    {{#each peoples}} <!--repeat over all people-->
    <tr>
      <td>
        {{#if avatar}}
        <img src="{{avatar}}" alt="{{first_name}} - {{last_name}}" width="50" height="50">
        {{else}}
        &nbsp;
        {{/if}}
      </td>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{email}}</td>
      <td>{{job_title}}</td>
      <td>
        <a href="/view/{{id}}" title="view" ><i class="fas fa-binoculars"></i></a> <!--init detail view-->
        <a href="javascript:void(0);" onclick="deleteItem(&quot;{{id}}&quot;)" title="delete" ><i class="fas fa-trash-alt"></i></a> <!--delete person-->
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> <!--Person create modal-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create a Person</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> <!--person form-->
        <label>First Name:<span style="color: red;">*</span></label>
        <input type="text" class="form-control first_name" id="first_name" name="first_name" required /><br/>
        <label>Last Name:<span style="color: red;">*</span></label>
        <input type="text" class="form-control last_name" id="last_name" name="last_name" required /><br/>
        <label>Email:<span style="color: red;">*</span></label>
        <input type="email" class="form-control email" id="email" name="email" required /><br/>
        <label>Job Title:<span style="color: red;">*</span></label>
        <input type="text" class="form-control job_title" id="job_title" name="job_title" required /><br/>
        <label>Avatar:</label> 
        <input type="text" class="form-control avatar" id="avatar" name="avatar" />
        <small id="emailHelp" class="form-text text-muted">Must be a valid email adress</small>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary createPerson">Save</button>
      </div>
    </div>
  </div>
</div>
 
<script>
  
  $(function() {
    $( ".createPerson" ).on( "click", function() {
      createItem(); 
    });
  });

    function createItem(){// Create person and send to server for creation via api 
      let firstName = $('#first_name').val();
      let lastName = $('#last_name').val(); 
      let email = $('#email').val(); 
      let jobTitle = $('#job_title').val(); 
      let avatar = $('#avatar').val(); 

      if(firstName && lastName && validateEmail(email) && jobTitle){

      let createObj = {
        first_name: firstName, 
        last_name: lastName, 
        email: email, 
        job_title: jobTitle, 
        avatar, avatar
      };

      console.log(JSON.stringify(createObj))

     $.ajax({
             type: "POST",
             url: "https://umbrage-bradley.herokuapp.com/people",
             data: JSON.stringify(createObj),// now data come in this function
             contentType: "application/json",
             success: function (data, status, jqXHR) {
               window.location.href = "https://umbrage-bradley.herokuapp.com";
             },

             error: function (jqXHR, status) {
                 // error handler
                 console.log(jqXHR);
                 alert('fail' + status.code);
             }
          });
      }
      else{
        alert('Please fill in the form per requirements.')
      }
    }


  function deleteItem(id){// Delete person via delete api 
     $.ajax({
             type: "DELETE",
             url: "https://umbrage-bradley.herokuapp.com/delete/"+id+"",
             contentType:'application/json',
             success: function (data, status, jqXHR) {
               window.location.href = "https://umbrage-bradley.herokuapp.com";
             },

             error: function (jqXHR, status) {
                 // error handler
                 console.log(jqXHR);
                 alert('fail' + status.code);
             }
          });
    }

    function validateEmail(email) //valiate email ^^
    {
        var re = /\S+@\S+\.\S+/;
        return re.test(email);
    }

    function isValidURL(string) { //valiate url ^^
  var res = string.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
  return (res !== null)
};
</script>