<div class="container app-intro">
  <h1 class="text-center">List of People</h1>
</div>

<div class="container app-main">

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">&nbsp;</th> <!--Action Buttons-->
      <th scope="col">&nbsp;</th> <!--Avatars-->
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Job Title</th>
    </tr>
  </thead>
  <tbody>
    {{#each peoples}}
    <tr>
      <td></td>
      <td>
        {{#if avatar}}
        <img src="{{avatar}}" alt="{{first_name}} - {{last_name}}" width="50" height="50">
        {{/if}}
      </td>
      <td>{{first_name}}</td>
      <td>{{last_name}}</td>
      <td>{{email}}</td>
      <td>{{job_title}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
